# Keil MDK build outputs
OBJ/
USER/Listings/
*.crf
*.d
*.dep
*.axf
*.htm
*.lnp
*.build_log.htm
*_build.log
*.lst
*.map
*.log

# Editor
*.uvguix.*
*.uvoptx
JLinkSettings.ini

# Output files
*.o
*.out
*.hex
*.bin

# IDE
.idea/
.vscode/
__pycache__/
*.pyc

# OS
.DS_Store
Thumbs.db
